<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/forget.css">
</head>
<body>
    <div class="forget-container">
        <h2>Enter your email</h2>
        <form action="/forget/sent-otp" method="POST">
            <input type="email" name="email" placeholder="email" required>
            <button type="submit">Sent OTP</button>
        </form>
    </div>
</body>
</html>
